footer{
    width: 100%;
    height: 24px;
    background-color: #eeeeee;
    text-align: center;
    margin-top: 20px;
}

footer > span {
    height: 8px;
    opacity: 0.38;
    color: #000000;
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}