@import "header.css";
@import "toolbar.css";
@import "main.css";
@import "bottom.css";
body {
    margin:0;
    background-color: #fafafa;
}
img, form, a, input, main
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
}
a {
    text-decoration: none;
}
