.toolbox{
    width: 75px;
    height: 100%;
    padding: 0;
    margin: 0 0 0 156px;
    box-shadow: 1px 7px 9px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    border: 1px solid rgba(191, 191, 191, 0.25);
    background-color: #ffffff;
    display: inline-block;
    float: left;
}
main:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.toolbox ul{
    margin:0;
    padding: 0;
}
.toolbox > ul > li,
.toolbox > ul > li > ul > li{
    padding:0;
}
.toolbox > ul > li > a{
    padding-left: 13px;
    color: #010101;
    opacity: 0.54;
}
.toolbox > ul > li > a:after{
    font-family: FontAwesome;
    content: '\f077';
    margin-right: 5px;
    position: relative;
    right: 1px;
    float: right;
    font-size:xx-small;
    opacity: 0.54;
}
.toolbox > ul > li > ul > li > a{
    padding-left: 28px;
}
.toolbox-list-first-level  li{

    font-family: Arial;
    font-size: 13px;
    font-weight: 400;
    line-height: 48px;
    padding: 18px 0 21px 10px;
    margin: 0;
    border-bottom: 1px solid #d9d9d9;
    list-style-type: none;
}
.toolbox-list-first-level  li:last-child{
    border-bottom: none;
}
.toolbox > ul > li > ul > li{
    padding:0;
    border-bottom: none;
}


/*
.toolbox-list-first-level > li:after{

}*/
